/* button start */
/* .video-game-button {
  text-shadow: 1px 1px pink, -1px -1px maroon;

  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  width: 1.5em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  border-radius: 0.75em;
  background-color: red;
  -webkit-box-shadow: 0 0.2em maroon;
  -moz-box-shadow: 0 0.2em maroon;
  -o-box-shadow: 0 0.2em maroon;
  box-shadow: 0 0.2em maroon;
  color: red;
  margin: 5px;
  background-color: red;
  background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
  background-image: -moz-linear-gradient(
    left top,
    pink 3%,
    red 22%,
    maroon 99%
  );
  background-image: -webkit-linear-gradient(
    left top,
    pink 3%,
    red 22%,
    maroon 99%
  );
  background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
  cursor: pointer;
  padding-left: 5px;
}
.start-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}
.video-game-button:active,
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
} */
/* button end */

.grid {
  border: 1px solid black;
  height: 900px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  background-image: url("images/pave6.png");
  background-size: 100px 100px;
  /* background-repeat: repeat; */
}

.grid div {
  height: 100px;
  width: 100px;
}

.ending-block {
  background-color: black;
  background-image: url("images/office.png");
  background-size: cover;
  background-position: -10px;
}

.starting-block {
  background-color: black;
  background-image: url("images/home.png");
  background-size: cover;
}

.l1,
.l2,
.l3 {
  background-color: grey;
  background-image: url("images/train4.png"), url("images/rails.png");
  background-size: cover;
  background-position: 7rem;
}

.l4,
.l5 {
  background-color: grey;
  background-image: url("images/rails.png");
  background-size: cover;
}
.c1 {
  background-image: url("images/begger.png");
  background-size: cover;
}

/* .c2,
.c3 {
  background-image: url("images/path2.png");
  background-size: cover;
} */

.frog {
  /* background-color: blue; */
  background-image: url("images/man1.png");
  background-size: cover;
  position: relative;
}

/* https://www.pngwing.com/en/free-png-betfx/download */

.center {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
