@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
span a:before,
span a:after {
  position: absolute;
  content: "START/PAUSE";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

/* button end */
body {
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.headerclass {
  background-image: url("images/head1.png");
  background-size: cover;
  background-position: 1rem;
}

.grid {
  /* display: grid;
  place-items: center; */
  border: 1px solid black;
  height: 900px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  background-image: url("images/pave6.png");
  background-size: 100px 100px;
  /* background-repeat: repeat; */
}

.grid div {
  height: 100px;
  width: 100px;
}

.ending-block {
  /* background-color: white; */
  background-image: url("images/office4.png");
  background-size: cover;
  background-position: -12px;
}

.starting-block {
  /* background-color: black; */
  background-image: url("images/home3.png");
  background-size: cover;
}

.l1,
.l2,
.l3 {
  background-color: grey;
  background-image: url("images/train4.png"), url("images/rails.png");
  background-size: cover;
  background-position: 7rem;
}

.l4,
.l5 {
  background-color: grey;
  background-image: url("images/rails.png");
  background-size: cover;
}
.c1 {
  background-image: url("images/begger.png");
  background-size: cover;
}

/* .c2,
.c3 {
  background-image: url("images/path2.png");
  background-size: cover;
} */

.frog {
  /* background-color: blue; */
  background-image: url("images/man1.png");
  background-size: cover;
  position: relative;
}

.center {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.blink_me {
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.spacer {
  margin-bottom: 10px;
}

.button-24 {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 10px;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-24:active {
  opacity: 0.5;
}
